@import '@styles/core';

.error {
  display: flex;
  height: calc(100% + 32px);
  background-color: clr(primary);
  user-select: none;
  pointer-events: none;
  padding-bottom: 32px;
  margin-bottom: -32px;

  @include breakpoint(md) {
    height: calc(100% + 48px);
    padding-bottom: 48px;
    margin-bottom: -48px;
  }
}

.wrapper {
  flex-direction: column;
  height: 100%;

  @include flex-center(flex);
}

.status {
  font-family: ff(alt);
  font-size: 288px;
  font-weight: 800;
  line-height: calc(320 / 288);
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.relocate {
  font-size: 14px;
  line-height: calc(24 / 14);
  pointer-events: all;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 136px;
}
