.container {
  width: 100%;
  max-width: 100%;
  padding: 0 var(--gutter);
  margin: 0 auto;

  @include breakpoint(md) {
    max-width: 720px;
    padding: 0;
  }

  @include breakpoint(xxl) {
    max-width: 1368px;
  }
}
