@import '@styles/core';

.breadcrumbs {
  @include flex-align-center();
}

.breadcrumb {
  @include flex-align-center();

  a {
    font-size: 18px;
    line-height: 24px;

    &:hover {
      text-decoration-color: clr(primary);
    }
  }
}
