@import '@styles/core';

.form {
  row-gap: var(--gutter);

  @include flex-column();
}

.phone {
  input {
    @include placeholder(clr(placeholder));
  }
}

.help {
  line-height: 22px;
  color: clr(gray-dark);
}

.buttons {
  column-gap: 8px;
  margin-top: 58px;

  @include flex-align-center();
}

.button {
  font-size: 18px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
}

.confirm {
  width: 336px;
  background-color: clr(teal-3);
}
